.lead__caption {
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 8px auto 0 calc((100% - 984px)/2);
}

@media screen and (max-width: 1279px) {
    .lead__caption {
        margin-left: calc((100% - 928px)/2);
    }
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        margin-left: 16px;
    }
}